<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule (.+)?/?browse index.php?request=$1&%{QUERY_STRING}
</IfModule>

# Enable Basic Authentication
AuthType Basic

# This is what will be displayed to the user on the login dialog.
AuthName "File Access"

# This you must edit.  It is the absolute path to the .htpasswd file.
AuthUserFile /Users/kitmacallister/Sites/PHP-Finder/.htpasswd

# This allows any user from inside the .htpasswd file to access the
# content if they provide the proper username and password.
Require valid-user